.resume__content {
  display: flex;
  margin-bottom: 3rem;
  gap: 3rem;
}

.resume__content-col {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  width: 50%;
}

.resume__title {
  position: relative;
  font-size: var(--fsz-20px);
  font-weight: var(--fw-bold);
  width: fit-content;
}

.resume__title span {
  z-index: 5;
  position: relative;
}

.resume__title::after {
  content: "";
  width: 20px;
  height: 15px;
  border-radius: 4px;
  background: var(--section-title-color);
  position: absolute;
  top: 2px;
  left: -5px;
}

.skills__title {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.skills__title:before {
  position: absolute;
  background-color: var(--first-color);
  content: "";
  height: 2px;
  right: 0;
  top: 12px;
  width: 60%;
}

.resume__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.resume__subtitle {
  font-size: var(--fsz-16px);
  font-weight: var(--fw-bold);
}

.resume__date {
  font-size: var(--fsz-16px);
  font-weight: var(--fw-light);
}

.skill__soft {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.skill__soft-container {
  height: 100%;
  justify-content: space-between;
}

.skill__soft-info > * {
  margin-bottom: 0.5rem;
}

.resume__text-gradient {
  font-size: var(--fsz-40px);
  font-weight: var(--fw-bold);
  background: -webkit-linear-gradient(#40a2ff, #40ffe8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 576px) {
  .resume__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .resume__content-col {
    gap: 1.5rem;
    width: unset;
  }

  .resume__title {
    margin: auto;
  }

  .skills__title {
    width: fit-content;
    margin-bottom: 1rem;
  }

  .skills__title::before {
    display: none;
  }

  .skill__soft-container {
    gap: 1rem;
  }

  .skill__soft {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .btn-resume-c {
    margin: auto;
  }
}
